{% extends 'news/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <section class="wrapper-sroll" id="statistic-table">
        {% for card in week_cards %}
            <div class="day-card {% if card.is_current_day %}current-day{% endif %}" style="min-width: 300px; max-height: 180px">
               <a href="/events/{{card.link_date.year}}/{{card.link_date.month}}/{{card.link_date.day}}">
                <div class="card-content">
                    <div class="card-date">
                        <div class="date">
                            <span class="text-date">{{ card.date }}</span>
                        </div>
                    </div>
                    <div class="card-text">
                        {% for title in card.contents %}
                            <span>{{ title }}</span><br>
                        {% endfor %}
                    </div>
                </div>
               </a>
            </div>
        {% endfor %}
    </section>
    <div class="event">
        <div class="event-content">
            <div class="event-header">
                <span style="font-size: 2rem">Сегодня: {% now "j F Y" %}</span>
                <a href="/create/event/"><button type="button" class=" btn btn-primary">Создать событие</button></a>
            </div>
        </div>
    </div>
    {% for event in today_events %}
    <div class="event">
        <div class="event-content">
            <div class="event-header">
                <h3>{{ event.title }}</h3>
                <p class="card-text"><small class="text-muted">Опубликовано: {{ event.publish }}</small></p>
            </div>
            <div class="event-text">
                <span>Участники: {{ event.all_participants }}</span>
                <br>
                <span>{{ event.body }}</span>
                <br>
                <span>Начало: {{ event.event_date|date:"H:i" }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
