{% extends 'news/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <section class="wrapper-sroll" id="statistic-table">
        {% for card in week_cards %}
            <div class="day-card {% if card.is_current_day %}current-day{% endif %}" style="min-width: 300px; max-height: 180px">
               <a href="/events/{{card.link_date.year}}/{{card.link_date.month}}/{{card.link_date.day}}">
                <div class="card-content">
                    <div class="card-date">
                        <div class="date">
                            <span class="text-date">{{ card.date }}</span>
                        </div>
                    </div>
                    <div class="card-text">
                        {% for title in card.contents %}
                            <span>{{ title }}</span><br>
                        {% endfor %}
                    </div>
                </div>
               </a>
            </div>
        {% endfor %}
    </section>
    <div class="event">
        <div class="event-content">
            <div class="event-header">
                <span style="font-size: 2rem">Сегодня: {{ current_date }}</span>
                <a href="/create/event/"><button type="button" class=" btn btn-primary">Создать событие</button></a>
            </div>
        </div>
    </div>
    {% for event in today_events %}
    <div class="event">
        <div class="event-content">
            <div class="event-header">
                <h3>{{ event.title }}</h3>
                <p class="card-text"><small class="text-muted">Опубликовано: {{ event.publish }}</small></p>
            </div>
            <div class="event-text">
                <span>Участники: {{ event.all_participants }}</span>
                <br>
                <span>{{ event.body }}</span>
                <br>
            </div>
            <div style="font-size: 1.1rem; display: inline-block; background-color: var(--bs-gray-200); border-radius: 5px; margin: 10px 0 0">
                    <span style="font-weight: bold; margin: 5px;">Начало:</span><br>
                    <span style="margin: 5px;">{{ event.event_date|date:"j F H:i"|lower }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block scripts %}
<script>
    (function() {

        function scrollHorizontally(e) {
            e = window.event || e;
            var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
            document.getElementById('statistic-table').scrollLeft -= (delta*300); // Multiplied by 10
            e.preventDefault();
        }
        if (document.getElementById('statistic-table').addEventListener) {
            // IE9, Chrome, Safari, Opera
            document.getElementById('statistic-table').addEventListener("mousewheel", scrollHorizontally, false);
            // Firefox
            document.getElementById('statistic-table').addEventListener("DOMMouseScroll", scrollHorizontally, false);
        } else {
            // IE 6/7/8
            document.getElementById('statistic-table').attachEvent("onmousewheel", scrollHorizontally);
        }
        })();
  </script>
{% endblock %}
