{% extends "news/base.html" %}
{% load static %}
{% block title %}Новости{% endblock %}
{% block content %}
    {% for message in messages %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ message.theme }}</h5>
        <p class="card-text">{{ message.text }}</p>
        <p class="card-text"><small class="text-muted">Опубликовано: {{ message.date_message }}</small></p>
      </div>
{#      <img class="card-img-bottom" src="{% static "braces-asterisk.png" %}" alt="News image">#}
    </div>
    {% endfor %}
    {% for new in news %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ new.title }}</h5>
        <p class="card-text">{{ new.body }}</p>
        <p class="card-text"><small class="text-muted">Опубликовано: {{ new.publish }}</small></p>
      </div>
{#      <img class="card-img-bottom" src="{% static "braces-asterisk.png" %}" alt="News image">#}
    </div>
    {% endfor %}
{% endblock %}