{% extends 'news/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<section class="wrapper-sroll" id="statistic-table">
                {% for card in week_cards %}
                    <div class="day-card  {% if card.is_current_day %}current-day{% endif %}" style="min-width: 300px;">
                        <div class="card-content" >
                            <div class="card-date">
                                <div class="date">
                                    <span class="text-date">{{ card.date }}</span>
                                </div>
                            </div>
                            <div class="card-text">
                                <span>{{ card.content }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
</section>
    {% for event in events %}
    <div class="event">
            <div class="event-content">
                <div class="event-header">
                    <h2>{{ event.title }}</h2>
                    <div class="event-date-published">
                        Опубликовано: {{ event.publish }}
                    </div>
                </div>
                <div class="event-text">
                    <span>{{ event.body }}</span>
                </div>
            </div>
    </div>
    {% endfor %}
{% endblock %}