{% extends 'news/base.html' %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
{% endblock %}
{% block style %}
        body {
            background: white;
        }

        .nw-header {
            position: absolute
        }
{% endblock %}
{% block content %}
<div class="container">
    <form  name="createEventForm" id="createEventForm" action="">
        {% csrf_token %}
        <div class="mb-3 form-group">
              <h3 class="text-left">Создание события</h3>
        </div>
        <div class="mb-3 col-md-4">
          <label for="title_form" class="form-label">Заголовок</label>
          <input type="text" class="form-control" id="title_form" placeholder="Название события">
        </div>
        <div class="mb-3 col-md-4">
          <label for="body_form" class="form-label">Описание</label>
          <input type="text" class="form-control" id="body_form" placeholder="Описание события">
        </div>
        <div class="mb-3 col-md-4">
            <label for="user_form" class="form-label">Участники</label>
            <select multiple id="user_form" name="users[]" class="form-select">
              {% for user in users %}
              <option>{{ user.username }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="mb-3 col-md-4">
          <label for="file_form" class="form-label">Файл (необязательное поле)</label>
          <input class="form-control" type="file" id="file_form">
        </div>
        <div class="mb-3 col-md-4">
            <label for="published_form">Дата публикации</label>
            <input id="published_form" class="form-control" type="datetime-local"/>
        </div>
        <div class="mb-3 col-md-4">
            <label for="event_date_form">Дата события</label>
            <input id="event_date_form" class="form-control" type="datetime-local"/>
        </div>
        <div class="mb-3 col-12">
            <button type="submit" class="btn btn-primary">Создать событие</button>
        </div>
    </form>
    </div>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $("#createEventForm").on("submit", function(){
          $.ajax({
            url: "{% url 'djangoNews:post_form' %}",
            method: 'post',
            dataType: 'json',
            data: {key1:$('#title_form').val(),
                key2:$('#body_form').val(),
                key3:$('#user_form').val(),
                {#key4:$('#file_form').val(),#}
                key5:$('#published_form').val(),
                key6:$('#event_date_form').val(),
                },
            success: function(data){
              console.log(true);
            }
          });
        });
    </script>
{% endblock %}